@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

* {
  font-family: "Roboto", sans-serif;
}

.content {
  background-color: pink;
}
.text-2 {
  float: right;
}
/* ul {
  list-style-type: lower-latin;
  list-style-image: url("./star.png");
}

ul .firstLi{
    list-style-position: inside;
} */
ul {
  list-style: decimal-leading-zero inside;
}

/* table - style */

table {
  width: 600px;
  text-align: center;
  margin: 30px auto;
  border: 2px solid lightgreen;
  border-width: 4px;
  border-spacing: 5px;
}
td,
th {
  padding: 10px;
}
th {
  color: white;
  text-shadow: 1px 1px 1px rgb(5, 4, 4);
  background-color: coral;
}
.even {
  background-color: lightblue;
}

/* ---- Form ---- */

html,
body {
  background: #dddddd;
}
.parent {
  width: 800px;
  height: 500px;
  display: flex;
  text-align: center;
  margin: 30px auto;
  background-color: rgb(0, 255, 251);
}
.child {
  width: 50%;
  height: 100%;
  padding: 20px;
  background-color: #377df5;
}
.child-1 {
  color: white;
}
.child-1 h2 {
  font-size: 30px;
  margin-top: 120px;
}
.child-1 p {
  line-height: 25px;
}
.child-1 button {
  padding: 10px 14px;
  border: none;
  border-radius: 30px;
  background-color: #2a61bf;
  color: white;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.child-2 {
  background-color: white;
}
.child-2 input {
  width: 90%;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 17px;
  background-color: #f0eff0;
}
.child-2 button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  background-color: #377df5;
  color: white;
  font-weight: bold;
}
.ion--logo-facebook {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%233F568B' fill-rule='evenodd' d='M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16c24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31'/%3E%3C/svg%3E");
}
.fa6-brands--google-plus {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23D15B36' d='M256 8C119.1 8 8 119.1 8 256s111.1 248 248 248s248-111.1 248-248S392.9 8 256 8m-70.7 372a124 124 0 0 1 0-248c31.3 0 60.1 11 83 32.3l-33.6 32.6c-13.2-12.9-31.3-19.1-49.4-19.1c-42.9 0-77.2 35.5-77.2 78.1s34.2 78.1 77.2 78.1c32.6 0 64.9-19.1 70.1-53.3h-70.1v-42.6h116.9a109 109 0 0 1 1.9 20.7c0 70.8-47.5 121.2-118.8 121.2m230.2-106.2v35.5H380v-35.5h-35.5v-35.5H380v-35.5h35.5v35.5h35.2v35.5Z'/%3E%3C/svg%3E");
}
.entypo-social--linkedin-with-circle {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%230F74AB' d='M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4M7.65 13.979H5.706V7.723H7.65zm-.984-7.024c-.614 0-1.011-.435-1.011-.973c0-.549.409-.971 1.036-.971s1.011.422 1.023.971c0 .538-.396.973-1.048.973m8.084 7.024h-1.944v-3.467c0-.807-.282-1.355-.985-1.355c-.537 0-.856.371-.997.728c-.052.127-.065.307-.065.486v3.607H8.814v-4.26c0-.781-.025-1.434-.051-1.996h1.689l.089.869h.039c.256-.408.883-1.01 1.932-1.01c1.279 0 2.238.857 2.238 2.699z'/%3E%3C/svg%3E");
}
